body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  background-image: url("../assets/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: block;
  margin: auto;
}

.navBottom {
  background-image: url("../assets/nav-bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 52px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
}

.container-pulsa {
  background-image: url("../assets/image\ \(3\).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.thank-you{
  background-image: url("../assets/thank-you.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container-checkout {
  background-image: url("../assets/image\ \(4\).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container-payment {
  background-image: url("../assets/image\ \(5\).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
