body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.container {
 background-image: url('../assets/image.png');
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;
 height: 100vh;

}
.navBottom{
  background-image: url('../assets/nav-bottom.png');
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 52px;
 position: fixed;
 z-index: 1;
 bottom: 0
}