.micFloatingBtn {
  position: fixed;
  bottom: 60px;
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  background-color: rgb(42, 191, 112);
  border-radius: 50%;
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}